argcomplete==1.0.0
kaptan==0.5.8
manhole
netifaces
numpy
pyephem
python-casacore==2.0.0
PyYAML==3.11
redis
six
spead2
tmuxp==0.8.1
git+ssh://git@github.com/ska-sa/katdal
git+ssh://git@github.com/ska-sa/katpoint
git+ssh://git@github.com/ska-sa/katsdptelstate
