appdirs
argcomplete==1.0.0      # for tmuxp
backports-abc           # for tornado
backports.ssl-match-hostname  # for tornado
certifi                 # for tornado
colorama==0.3.7         # for libtmux
cycler                  # for matplotlib
Cython                  # for h5py
dask==0.15.1
decorator
docutils
enum34                  # for numba
fakeredis
funcsigs                # for numba
functools32             # for matplotlib
future                  # for katcp
futures                 # for trollius
h5py
katcp
kaptan==0.5.8           # for tmuxp
katversion
libtmux==0.6.0
llvmlite                # for numba
mako
manhole
markupsafe
matplotlib
netifaces
numba
numpy
pandas
pkginfo
ply                     # for katcp
pyephem
pyparsing
python-casacore==2.0.0
python-dateutil
pytz
PyYAML==3.11
redis
scipy
singledispatch          # for tornado
six
spead2
subprocess32            # for matplotlib
toolz==0.8.2            # for dask
tornado                 # for katcp
trollius
git+ssh://git@github.com/ska-sa/katdal
git+ssh://git@github.com/ska-sa/katpoint
git+ssh://git@github.com/ska-sa/katsdpservices
git+ssh://git@github.com/ska-sa/katsdpsigproc
git+ssh://git@github.com/ska-sa/katsdptelstate
