argcomplete==1.0.0      # for tmuxp
backports-abc           # for tornado
backports.ssl-match-hostname  # for tornado
certifi                 # for tornado
colorama==0.3.7         # for libtmux
cycler==0.9.0           # for matplotlib
Cython                  # for h5py
docutils
enum34                  # for numba
fakeredis
funcsigs                # for numba
future==0.16.0          # for katcp
futures                 # for trollius
h5py
kaptan==0.5.8           # for tmuxp
libtmux==0.6.0
llvmlite==0.19.0        # for numba
manhole
matplotlib==1.5.1
netifaces
numba==0.34             # contains some multithreading fixes not in the katsdpdockerbase version yet
numpy==1.13.1           # needs at least 1.12, which is newer than katsdpdockerbase
pkginfo
ply                     # for katcp
pyephem
pyparsing==2.0.7        # for matplotlib
python-casacore==2.0.0
python-dateutil==2.4.2  # for matplotlib
pytz==2015.7            # for matplotlib
PyYAML==3.11
redis
scipy==0.19.1           # version pinned because katsdpdockerbase version is too old (for now)
singledispatch          # for tornado
six
spead2
toolz==0.8.2            # for dask
tornado                 # for katcp
trollius
git+ssh://git@github.com/ska-sa/katcp-python#egg=katcp    # Needs features not present in 0.6.1
git+ssh://git@github.com/ska-sa/katdal
git+ssh://git@github.com/ska-sa/katpoint
git+ssh://git@github.com/ska-sa/katsdpservices
git+ssh://git@github.com/ska-sa/katsdptelstate
git+ssh://git@github.com/ska-sa/katversion
