*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
nosetests.xml

# Developer tools
*~
